<div class="container-fluid nav-topo">
		<div class="row">
			<div class="col-4">
				<h1> <i class="fa fa-users"></i> Alunos </h1>
			</div>
			<div class="col-8">
				<div class="container py-3">
    				<div class="col-10 mx-auto">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
						  <li class="nav-item">
						    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#cadastro" role="tab" aria-controls="cadastro" aria-selected="true">Cadastro</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#alunos" role="tab" aria-controls="alunos" aria-selected="false">Alunos</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#financeiro" role="tab" aria-controls="financeiro" aria-selected="false">Financeiro</a>
						  </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>